# Environment variables
.env
.env.*

# Python virtual environment
env/
venv/
.venv/

# Python cache
__pycache__/
*.pyc

# Node
node_modules/

# Logs
*.log

# OS
.DS_Store
Thumbs.db